{% extends "base.html" %}

{% block title %}
    {{ settings.title }} - {{ page.name }}
{% endblock %}

{% block content %}

  {% if page %}
      <div class="col-sm-12" id="featured">
        <div class="page-header text-muted">
            {{ page.name }}
        </div>
      </div>

       <!--/top story-->
       <div class="row">
            <div class="col-sm-10">
                <p>
                    {{ page.body_html|safe }}
                </p>
           </div>
       </div>
  {% else %}
      {% if message %}
          <h2>{{ message }}</h2>
      {% endif %}
  {% endif %}
    
 {% endblock %}