{% extends "base.html" %}

{% block content %}
    <form class="form-horizontal well" method="post" action="{% if action %}{{ action }}{% else %}/admin/post/create{% endif %}">
        <fieldset>
              <legend>Create new blog post</legend>
              <div class="control-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                  <input type="text" class="form-control input-sm" name="title" id="title" value="{% if post %}{{ post.title }}{% endif %}" />
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="slug">Slug</label>
                <div class="controls">
                  <input type="text" class="form-control input-sm" name="slug" id="slug" value="{% if post %}{{ post.slug }}{% endif %}" />
                  <small class="help-block">leave blank to auto-generate</small>
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="tags">Tags</label>
                <div class="controls">
                  <input type="text" class="form-control input-sm" name="tags" id="tags" value="{% for tag in post.tags %}{{ tag }}{%if not forloop.last%},{%endif%}{% endfor %}">
                  <small class="help-block">separated with commas</small>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="excerpt">Excerpt</label>
                <div class="controls">
                    <textarea class="form-control input-xlarge" id="excerpt" name="excerpt" rows="5">{% if post %}{% if post.excerpt %}{{ post.excerpt }}{% endif %}{% endif %}</textarea>
                    <small class="help-block">leave blank for no excerpt</small>
                </div>
              </div>

              <div class="control-group">
                <label class="control-label" for="body">Body</label>
                <div class="controls">
                    <textarea class="form-control input-xlarge" id="body" name="body" rows="5">{% if post %}{% if post.body %}{{ post.body }}{% endif %}{% endif %}</textarea>
                    <small class="help-block">you can format the text with markdown syntax or html directly</small>
                </div>
              </div>
             <hr>
              <div class="form-actions">
                  <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
                  <input type="submit" class="btn btn-success" name="submit" value="Preview" >
              </div>
        </fieldset>
    </form>

    {% if post %}
        <hr>

        <div class="panel panel-default">
          <div class="panel-heading"><strong>Post Preview</strong></div>
          <div class="panel-body">
            <label class="control-label">Title</label>
            <p>{% if post.title %}{{ post.title }}{% endif %}</p>
            <hr>

            <label class="control-label">Slug</label>
            <p>{% if post.slug %}{{ post.slug }}{% endif %}</p>
            <hr>

            <label class="control-label">Tags</label>
            <p>{% for tag in post.tags %}{{ tag }}{%if not forloop.last%},{%endif%}{% endfor %}</p>
            <hr>

            <label class="control-label">Excerpt</label>
            <p>{% if post.excerpt_html %}{{ post.excerpt_html|safe }}{% endif %}</p>
            <hr>

            <label class="control-label">Body</label>
            <p>{% if post.body_html %}{{ post.body_html|safe }}{% endif %}</p>

          </div>
        </div>
           
        </div>
    {% endif %}

{% endblock %}
