{% extends "base.html" %}
    
{% block content %}
    <div class="col-sm-12" id="featured">
        <div class="page-header text-muted">
            Latest Posts
        </div>
    </div>

    {% if posts %}
        {% for post in posts %}
            <div class="row">
                <div class="col-sm-10">
                    <h3>{{ post.title }}</h3>
                    <p>
                        {{ post.excerpt_html|safe }}
                    </p>
                    <h4>
                        <small class="text-muted">{{ post.pub_date|date:"F d Y - H:i" }} &#8226 <a href="{{ post.get_absolute_url }}" class="text-muted">Read More</a></small>
                    </h4>
                </div>
                <div class="col-sm-2">
                    <a href="#" class="pull-right"><img src="/static/img/page_bg.jpg" class="img-circle"></a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="row">
            <div class="col-sm-10">
                <h3>No posts found</h3>
            </div>
        </div>
    {% endif %}
    
    <hr>
    
    <div class="col-sm-16 last append-bottom">
        {% if next_offset %}
            <a href="?offset={{ next_offset }}" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i>    Older Posts </a>            
        {% endif %}
        {% if prev_offset %}
            <a href="?offset={{ prev_offset }}" class="btn btn-default pull-right">Newer Posts <i class="glyphicon glyphicon-chevron-right"></i> </a>
        {% endif %}
    </div>

{% endblock %}    
