{% extends "base.html" %}

{% block title %}{{ post.title }} - {{ settings.title }}{% endblock %}

{% block meta_keywords  %} 
    <meta name="keywords" content="{{ post.tags|join:", " }}"> 
{% endblock %}

{% block content %}
    
        <div class="row">
            <div class="col-sm-12">
    
                {% if post %}

                    <div class="row pull-right">
                      {% if user_is_admin %}
                          <a class="btn btn-default" href="{{ post.get_edit_url }}">Edit Post</a>
                      {% endif %}
                    </div>

                    <h3>{{ post.title  }}</h3>

                    {% for tag in post.tags %} <a href="/blog/tag/{{ tag }}"><span class="label label-default">{{ tag }}</span></a>{% endfor %}

                    <div class="row pull-right">
                        <!-- gplus one -->
                        <div class="g-plusone"></div>
                        <!-- twitter -->
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="rogcg">Tweet</a>                
                    </div>

                    <h4>
                        <small class="text-muted">{{ post.pub_date|date:"F d Y - H:i" }}</small>
                    </h4>

                    <hr>

                    <p>{{ post.body_html|safe }}</p>
                {% else %}
                    {% if message %}
                        <h2>{{ message }}</h2>
                    {% endif %}
                {% endif %}
            </div>

        </div>

        <hr>
        
        {% if post %}
            {% if settings.disqus %}
                <div id="disqus_thread"></div>
                <script type="text/javascript" src="http://disqus.com/forums/{{ settings.disqus }}/embed.js"></script>
                <noscript><a href="http://{{ settings.disqus }}.disqus.com/?url=ref">View the discussion thread.</a></noscript>
            {% endif %}
        {% endif %}
        
{% endblock %}
